.main-footer.evaluacion-component {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (max-width: 768px) {
    .main-footer.evaluacion-component {
        position: relative;
        z-index: 20;
    }
}

.fin .callout h3{
    margin-top: 0;
}
.fin .callout p{
    font-size: 18px;
}
.main-header .navbar{
    margin-left:0;
}
.skin-black .main-header>.logo {
    color: #fff;
    border-bottom: 0 solid transparent;
    border-right: none;
    display: none;
}

.todo-list .handle {
    font-size: 24px;
}

.m0 {
    margin: 0 !important;
}
.mt5 {
    margin-top: 5px;
    display: block;
}
.mb5 {
    margin-bottom: 5px;
    display: block;
}
.pt5 {
    padding-top: 5px;
    display: block;
}
.pb5 {
    padding-bottom: 5px;
    display: block;
}
.mt10 {
    margin-top: 10px;
    display: block;
}
.mb10 {
    margin-bottom: 10px;
    display: block;
}
.pt10 {
    padding-top: 10px;
    display: block;
}
.pb10 {
    padding-bottom: 10px;
    display: block;
}
.mt20 {
    margin-top: 20px;
    display: block;
}
.mb20 {
    margin-bottom: 20px;
    display: block;
}
.pt20 {
    padding-top: 20px;
    display: block;
}
.pb20 {
    padding-bottom: 20px;
    display: block;
}
.mt30 {
    margin-top: 30px;
    display: block;
}
.mb30 {
    margin-bottom: 30px;
    display: block;
}
.pt30 {
    padding-top: 30px;
    display: block;
}
.pb30 {
    padding-bottom: 30px;
    display: block;
}
.mt40 {
    margin-top: 40px;
    display: block;
}
.mb40 {
    margin-bottom: 40px;
    display: block;
}
.pt40 {
    padding-top: 40px;
    display: block;
}
.pb40 {
    padding-bottom: 40px;
    display: block;
}
.mt50 {
    margin-top: 50px;
    display: block;
}
.mb50 {
    margin-bottom: 50px;
    display: block;
}
.pt50 {
    padding-top: 50px;
    display: block;
}
.pb50 {
    padding-bottom: 50px;
    display: block;
}
.mt60 {
    margin-top: 60px;
    display: block;
}
.mb60 {
    margin-bottom: 60px;
    display: block;
}
.pt60 {
    padding-top: 60px;
    display: block;
}
.pb60 {
    padding-bottom: 60px;
    display: block;
}
.mt70 {
    margin-top: 70px;
    display: block;
}
.mb70 {
    margin-bottom: 70px;
    display: block;
}
.pt70 {
    padding-top: 70px;
    display: block;
}
.pb70 {
    padding-bottom: 70px;
    display: block;
}
.mt80 {
    margin-top: 80px;
    display: block;
}
.mb80 {
    margin-bottom: 80px;
    display: block;
}
.pt80 {
    padding-top: 80px;
    display: block;
}
.pb80 {
    padding-bottom: 80px;
    display: block;
}
.mt90 {
    margin-top: 90px;
    display: block;
}
.mb90 {
    margin-bottom: 90px;
    display: block;
}
.pt90 {
    padding-top: 90px;
    display: block;
}
.pb90 {
    padding-bottom: 90px;
    display: block;
}
.mt100 {
    margin-top: 100px;
    display: block;
}
.mb100 {
    margin-bottom: 100px;
    display: block;
}
.pt100 {
    padding-top: 100px;
    display: block;
}
.pb100 {
    padding-bottom: 100px;
    display: block;
}
.mt110 {
    margin-top: 110px;
    display: block;
}
.mb110 {
    margin-bottom: 110px;
    display: block;
}
.pt110 {
    padding-top: 110px;
    display: block;
}
.pb110 {
    padding-bottom: 110px;
    display: block;
}
.mt120 {
    margin-top: 120px;
    display: block;
}
.mb120 {
    margin-bottom: 120px;
    display: block;
}
.pt120 {
    padding-top: 120px;
    display: block;
}
.pb120 {
    padding-bottom: 120px;
    display: block;
}
.mt130 {
    margin-top: 130px;
    display: block;
}
.mb130 {
    margin-bottom: 130px;
    display: block;
}
.pt130 {
    padding-top: 130px;
    display: block;
}
.pb130 {
    padding-bottom: 130px;
    display: block;
}
.mt140 {
    margin-top: 140px;
    display: block;
}
.mb140 {
    margin-bottom: 140px;
    display: block;
}
.pt140 {
    padding-top: 140px;
    display: block;
}
.pb140 {
    padding-bottom: 140px;
    display: block;
}
.mt150 {
    margin-top: 150px;
    display: block;
}
.mb150 {
    margin-bottom: 150px;
    display: block;
}
.pt150 {
    padding-top: 150px;
    display: block;
}
.pb150 {
    padding-bottom: 150px;
    display: block;
}
.mt160 {
    margin-top: 160px;
    display: block;
}
.mb160 {
    margin-bottom: 160px;
    display: block;
}
.pt160 {
    padding-top: 160px;
    display: block;
}
.pb160 {
    padding-bottom: 160px;
    display: block;
}
@media (max-width: 768px) {
    .sm-mt5 {
        margin-top: 5px;
        display: block;
    }
    .sm-mb5 {
        margin-bottom: 5px;
        display: block;
    }
    .sm-pt5 {
        padding-top: 5px;
        display: block;
    }
    .sm-pb5 {
        padding-bottom: 5px;
        display: block;
    }
    .sm-mt10 {
        margin-top: 10px;
        display: block;
    }
    .sm-mb10 {
        margin-bottom: 10px;
        display: block;
    }
    .sm-pt10 {
        padding-top: 10px;
        display: block;
    }
    .sm-pb10 {
        padding-bottom: 10px;
        display: block;
    }
    .sm-mt20 {
        margin-top: 20px;
        display: block;
    }
    .sm-mb20 {
        margin-bottom: 20px;
        display: block;
    }
    .sm-pt20 {
        padding-top: 20px;
        display: block;
    }
    .sm-pb20 {
        padding-bottom: 20px;
        display: block;
    }
    .sm-mt30 {
        margin-top: 30px;
        display: block;
    }
    .sm-mb30 {
        margin-bottom: 30px;
        display: block;
    }
    .sm-pt30 {
        padding-top: 30px;
        display: block;
    }
    .sm-pb30 {
        padding-bottom: 30px;
        display: block;
    }
    .sm-mt40 {
        margin-top: 40px;
        display: block;
    }
    .sm-mb40 {
        margin-bottom: 40px;
        display: block;
    }
    .sm-pt40 {
        padding-top: 40px;
        display: block;
    }
    .sm-pb40 {
        padding-bottom: 40px;
        display: block;
    }
    .sm-mt50 {
        margin-top: 50px;
        display: block;
    }
    .sm-mb50 {
        margin-bottom: 50px;
        display: block;
    }
    .sm-pt50 {
        padding-top: 50px;
        display: block;
    }
    .sm-pb50 {
        padding-bottom: 50px;
        display: block;
    }
    .sm-mt60 {
        margin-top: 60px;
        display: block;
    }
    .sm-mb60 {
        margin-bottom: 60px;
        display: block;
    }
    .sm-pt60 {
        padding-top: 60px;
        display: block;
    }
    .sm-pb60 {
        padding-bottom: 60px;
        display: block;
    }
    .sm-mt70 {
        margin-top: 70px;
        display: block;
    }
    .sm-mb70 {
        margin-bottom: 70px;
        display: block;
    }
    .sm-pt70 {
        padding-top: 70px;
        display: block;
    }
    .sm-pb70 {
        padding-bottom: 70px;
        display: block;
    }
    .sm-mt80 {
        margin-top: 80px;
        display: block;
    }
    .sm-mb80 {
        margin-bottom: 80px;
        display: block;
    }
    .sm-pt80 {
        padding-top: 80px;
        display: block;
    }
    .sm-pb80 {
        padding-bottom: 80px;
        display: block;
    }
    .sm-mt90 {
        margin-top: 90px;
        display: block;
    }
    .sm-mb90 {
        margin-bottom: 90px;
        display: block;
    }
    .sm-pt90 {
        padding-top: 90px;
        display: block;
    }
    .sm-pb90 {
        padding-bottom: 90px;
        display: block;
    }
}