h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: lighter;
}
/** HEADER ----------------------------------------- **/
#header .header-ribbon {
    background: #0088cc;
}
#header .header-ribbon {
    background: #999;
    position: absolute;
    padding: 7px 0px 0px;
    top: 0;
    right: 20px;
}

#header .header-ribbon:before {
    border-right-color: #005580;
    border-left-color: #005580;
}
#header .header-ribbon:before {
    border-top: 15px solid #646464;
    border-left: 14px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: -14px;
    position: absolute;
    top: 21px;
    width: 7px;
}
#header .header-ribbon.registro {
    right: 140px;
}

div.header-logo{
	width:117px;
	height: 40px;
}
div.header-logo a{
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
}
div.header-container{
	padding: 5px 0px;
}
#header .header-top{
	padding: 0px;
	color : #FFF;
	text-align: right;
}
#header .header-top a{
	color: #FFF;
	font-size:13px;
	padding: 15px 10px 9px 10px;
}

.btn-empr-bg{
	background: rgba(227,97,89,.6);
}
.btn-empl-bg{
	background: rgba(52, 169,178,.6);
}
.slider-container .main-label{
	font-size: 40px;
	line-height: 45px;
}
.slider-container .tp-caption.top-label, .slider-container .tp-caption.bottom-label{
	font-weight: bold;
}
.slider-container .btn-main-servicios, .slider-container .btn-main-empleados{
    cursor:pointer;
}
/** borrar : para medir centro de botones de inicio */
.medidor{
	background: rgba(227,97,89,.8);
	position:absolute;
	top:0px;
	height:600px;
	z-index: 20;
	width:50%;
	display:none;
}
#footer .contact-details{
	margin-bottom: 35px;
}

.section.section.section-with-mockup{
	padding-bottom: 0px;
}

.section.section.section-with-mockup .mb-xl {
    margin-bottom: 0px !important;
}
.mono-man{
	text-align:center;
}
.mono-man img{
	display:inline;
}
#googlemaps{
	z-index:2;
}
#demos{
	z-index:3;
	position: relative;
}


.btn-empr-bg{
    background: rgba(255, 255, 255, 0.72);
}
.btn-empl-bg{
    background: rgba(255, 255, 255, 0.72);
}
.slider-container .main-label{
    color: #333;
}
.slider-container .tp-caption.top-label, .slider-container .tp-caption.bottom-label{
    color: #333;
}



/* NOSOTROS -------------------- */
.logos{
	text-align:center !important;
}
.logos a.servilabor{
	background: url(../img/colombia.gif) no-repeat;
	background-position: 80px 30px;
    padding-bottom: 30px;
}
.logos a.nortempo{
	background: url(../img/flags.gif) no-repeat;
    background-position: 80px -516px;
    padding-bottom: 25px;
}
.logos .img-1{
	margin-right: 80px;
}
/* SERVICIOS ------------------- */
#servicios .featured-box ul li{
    margin: 8px 0px;
    border-top: dotted 1px #362a6b;
    padding-top: 8px;
}
#servicios .featured-box ul li:first-child{
    padding-top: 8px;
    border-top: none;
}
#servicios img.iso9001{
    margin-top: 0px !important;
}

#servicios .feature-box{
    margin-bottom: 10px;
}
#servicios .feature-box-info{
    padding-top: 10px;
}
/* OFERTAS LABORALES ------------------- */
.shop{
    margin-top:0px;
}
.shop .results{
    border-bottom: 5px solid #f1f1f1;
    padding-right: 0px;
    padding-left: 0px;

    margin-bottom: 10px;
}
.shop ul.products{
    padding-top:0px;
}
.shop ul.products .product{
    padding-left:0;
    padding-right:0;
}
.shop ul.products .product .add-to-cart-product{
    top:auto;
    bottom:0;
	left:auto;
}
.shop .row.filtros-input{
    margin-left: 0px;
    margin-right: 0px;
}
.shop .row.filtros-input hr{
    margin: 20px 0px 5px 0px;
}
.shop .row.filtros-input h4{
    margin-top:0px;
}

.shop .row.filtros-input h5{
    margin: 10px 0px 3px;
}
.shop .row.filtros-input .action-btn{
    width: 100%;
    margin-top: 20px;
}
.shop .row.filtros-input a.action-btn{
    margin-top: 0px;
}
.product-thumb-info h4{
    margin-bottom: 15px;
}

.product-thumb-info p{
    margin-bottom: 15px;
}
.product-thumb-info a, .product-thumb-info a:hover{
	width:auto;
	right:0;
}
.vacante-descripcion .icono-row.first{
    margin-bottom: 25px;
}

.vacante-descripcion .icono-row .fa{
    color : #362a6b;
}

.vacante-descripcion .icono-txt{
    color:#000000;
    font-size:1em;
}
.vacante-descripcion h3{
    margin-top:8px;
}
.vacante-descripcion .requisitos h5{
    margin-bottom:4px;
}
.vacante-descripcion button.aplicar{
    width:80%;
}
/* APLICAR A VACANTE ------------------- */
.callout.callout-danger{
    background-color: #dd4b39;
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.callout.callout-danger p{
    color: #ffffff;
    margin:0;
}
#registro-form-modal{
    display:none;
}

/* BLOG ------------------- */
ul.nav-list li a.selected{
    background-color: #eee;
}
article.post .post-date .year {
    color: #777;
}
article.post .post-date .year {
    background: transparent;
    display: block;
    font-size: .8em;
    font-weight: normal;
    padding: 0px;
    border:none;
}
article.post .post-date {
    box-shadow: none;
}

/* CONTACTENOS ----------------- */
#contactenos section.page-header h1 {
    border-bottom: 5px solid #CCC;
}
#contactenos .sort-source.sort-source-style-2{
    margin-top: -15px;
}
#contactenos .sort-source.sort-source-style-2 > li.active {
    /* TODO: que este color cambie con otro estilo de azul */
    border-top: 5px solid #362a6b;
}




/** INICIAR SESION -------------------- */
.form-section .required {
    color: #eb340a;
    font-size: 11px;
    text-align: right;
}
.form-section p {
    margin-bottom: 15px;
}
.form-section .form-action {
    padding-top: 8px;
    margin-top: 1em;
    text-align: right;
}
.security-box{
    background: #F5F5F5;
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #ECECEC;
    border-radius: 8px;
    border-right: 1px solid #ECECEC;
    border-top: 4px solid #362a6b;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
    min-height: 100px;
    text-align: left;
    z-index: 1;
}
.security-box .box-content {
    padding: 35px 25px;
}
.security-box a.olvido{
    padding: 6px 0px;
}
.alert.msj{
    padding-bottom: 0px;
}

/** MI CUENTA ------------------------------ */
.breadcrumb .active.mi-cuenta{
    color: white;
}
ul.nav-list li.active > a {
    font-weight: bold;
    background-color: #eee;
}
.sidebar h4{
    margin-top: 14px;
    margin-bottom:0;
}

/** REGISTRO ------------------------------- */

label .required, p .required {
    color: #FF5656;
}
.has-error .chosen-choices{
    border-color: #a94442;
}
.has-error .chosen-container-single .chosen-single{
    border-color: #a94442;
}

.tabla-aspirante-enitadad-multiple{
    margin-bottom:0;
}
.iniciar-sesion-link{
    border:none;
    background: none;
    color: #362a6b;
}
.iniciar-sesion-link:hover{
    text-decoration: underline;
}

.callout {
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.callout.callout-success {
    border-color: #00733e;
    background-color: #00a65a !important;
    color: #fff !important;
}
.callout.callout-success p{
    color: #fff !important;
    margin-bottom:0;
}
