#comando, #modalVer .opcion{
    background: white;
    border: 1px solid #cccccc;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    overflow: scroll;
    max-height: 200px;
    padding:2px;
}
#modalVer .opcion{
    margin-bottom: 5px;
}