.terminal, .terminal-status, .terminal-exception{
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    overflow: scroll;
}
.terminal{
    min-height: 100px;
    max-height: 250px;
    background: white;
    border: 1px solid black;
    padding:2px;
}

.terminal-status, .terminal-exception{
    background: #333;
    color:white;
    max-height: 50px;
    font-size:9px;
}
.terminal-status span, .terminal-exception span{
    padding-left: 2px;
}
.terminal-exception{
    background: #dd4b39;
}