.skin-black .wrapper, .content-wrapper {
    background: white;
}
section.content{
    padding: 0;
}

.content-wrapper {
    background-image: url("../../img/pta-elemento-grafico-1.2.jpg");
    background-position: left top;
    background-repeat: repeat-x;
    font-size: 24px;
}

.caja-centro-titulo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.caja-centro-titulo.list{
    text-align: left;
    padding: 15px 60px 60px 60px;
}

.content-diapositiva, .widget-multiple {
    padding: 85px 60px 60px 60px;
}
.content-diapositiva li {
    margin-bottom: 16px;
}

.content-diapositiva h1 {
    margin-top: 0;
}

.content-diapositiva-mt15 {
    padding: 15px 60px 60px 60px;
}

.content-diapositiva-mt15 h1{
    margin-top: 0;
}
.content-diapositiva-mt15 li {
    margin-bottom: 8px;
}

.underline{
    text-decoration: underline;
}
.texto-rojo{
    color: #dd4b39;
    margin: 30px 0;
}

.texto-azul {
    color: #3c8dbc;
    font-weight: bold;
}
.referencia{
    font-size: 12px;
}
.width400 {
    width:400px;
}
img.full-page {
    display:block;
    width:100%; height:100%;
    object-fit: cover;
}

input[type=checkbox], input[type=radio]{
    margin-top: 8px;
}

.callout {
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    border-radius: 0;
    left:0;
    z-index: 5;
}
.callout p {
    font-size: 18px;
}
.callout.plural, .content-diapositiva.fin .callout {
    position: relative;
}


/** DIAPOSITIVAS **------------------------------------------------------------------------------------------------- **/
.diapositiva-2 .bienvenido-grupo{
    margin: 60px 0;
}
.diapositiva-2 .logo-pta {
    width: 200px;
}
.diapositiva-2 .logo-servilabor {
    width: 300px;
    margin-top: 40px;
}

.diapositiva-3.content-diapositiva {
    padding-top: 30px;
}

.diapositiva-3 .timeline-item{
    font-size: 20px;
}
.diapositiva-3 .timeline>li>.timeline-item>.timeline-header{
    font-size: 22px;
    color: #24135f;
}

.diapositiva-4 .vision{
    margin-top: 50px;
}

.diapositiva-6 img.colombia-agencias{
    width: 400px;
}

.diapositiva-7 .red-social {
    margin-top: 30px;
}


.diapositiva-12 .row{
    margin-bottom: 40px;
}
.diapositiva-12 .logo-financiafondos{
    margin-top: -20px;
}
.diapositiva-12 .logo-fincomercio{
    width: 300px;
}
.diapositiva-12 .logo-coorserpark{
    width: 300px;
}
.diapositiva-12 .logo-colsubsidio{
    width: 300px;
}

.diapositiva-14.content-diapositiva, .diapositiva-15.content-diapositiva, .diapositiva-16.content-diapositiva  {
    padding-top: 0;
}

.diapositiva-15 img.pagina-web{
    width: 1000px;
}

.diapositiva-20 {
    padding-bottom: 30px;
}
.diapositiva-20 .logo100{
    width: 100px;
}
.diapositiva-20 .logo150{
    width: 150px;
}

.diapositiva-22 strong{
    color: #1C9EB0;
}

.diapositiva-30 .firma{
    border-top: 1px solid black;
}

/** diapositiva 51 **/
img.enfermedad-laboral {
    width: 400px;
}

img.incidente-trabajo {
    width: 300px;
}

/** diapositiva 53 **/
img.accidente-trabajo {
    width: 400px;
    margin-top: 90px
}

/** diapositiva 63 **/
img.factores-riesgo {
    width: 600px;
}

img.mecanicos3 {
    width: 800px;
}

.widget-multiple .texto{
    margin-bottom: 40px;
}

.widget-multiple .small-col{
    max-width: 20px;
}
.widget-multiple .label-default{
    background-color: transparent;
}
.widget-multiple .todo-list>li .label {
    margin-left: 0;
}

.todo-list{
    overflow: visible;
}
.todo-list>li.respondida {
    background: #c8f4d2;
}
.todo-list>li {
    font-size: 18px;
}

/** MEDIA 768 **---------------------------------------------------------------------------------------------------- **/
@media (max-width: 768px) {
    .caja-centro {
        width: 90%;
        margin-top: 200px;
    }
    .caja-centro-titulo {
        font-size: 24px;
    }
    .content-wrapper {
        font-size: 20px;
    }
    .content-diapositiva, .widget-multiple {
        padding: 25px 20px 20px 15px;
    }
    .content-diapositiva-mt15 {
        padding: 15px 20px 20px 15px;
    }
    .content-diapositiva-titulo {
        padding-top: 100px;
    }
    .callout {
        position: relative;
        padding: 0;
    }
    .callout p {
        font-size: 12px;
    }
    /** DIAPOSITIVAS **--------------------------------------------------------------------------------------------- **/
    .diapositiva-2 .logo-pta {
        width: 100px;
    }
    .diapositiva-2 .logo-servilabor {
        width: 200px;
        margin-top: 60px;
    }

    .diapositiva-3 .timeline-item{
        font-size: 14px;
    }

    .diapositiva-14 img.pagina-web, .diapositiva-15 img.pagina-web, .diapositiva-16 img.pagina-web{
        width:400px;
    }
    img.accidente-trabajo {
        margin-top: 10px
    }

    img.factores-riesgo {
        width: 350px;
    }

    img.mecanicos3 {
        width: 400px;
    }

}