body {
    color: white;
}
.skin-black .wrapper, .content-wrapper {
    background: #24135f;
}

.content-wrapper {
    background-image: url("../img/startup-reunion-main.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cuadrados {
    background-image: url("../../img/pta-elemento-grafico2.1.png");
    background-position: left top;
    background-repeat: repeat-x;
    height: 156px;
    z-index: 1;
    position: relative;
    opacity: 0.5;
}

.content-diapositiva-titulo-back{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(36, 19, 95, 0.9);
}
.content-diapositiva-titulo{
    padding-top: 200px;
    z-index: 2;
    position: relative;
}
@media (max-width: 768px) {
    .content-diapositiva-titulo {
        padding-top: 100px;
    }
}
