table.reglas{
    border: 2px solid #CCC;
    margin-bottom: 10px !important;
}
table.reglas td.filtro-wrap{
    padding:0;
}
table.reglas td.filtro-wrap table{
    margin-bottom: 0;
}

table.reglas td.filtro-wrap table td{
    padding: 5px;
}
table.reglas td.filtro-wrap table td.campo-label {
    width: 30%;
}
table.reglas td.filtro-wrap table td.value {
    width: 40%;
}