#portal .row{
    margin: 0px;
}
#portal .tab-content{
    margin: 40px 60px 0 0;
}

/** NAV LOGIN ------------------------------------------------------------------------------------------------------ **/
.dropdown-login{
    padding:0px;
}
.dropdown.login .icon-computrabajo{
    font-size:12px;
}
.dropdown.login .panel{
    margin: 0px;
    border: none;
}
.dropdown.login .conectar{
    margin-left: 20px;
}
.dropdown.login .icon.access{
    color:#125acd;
}
.dropdown.login .icon.no-access{
    color:#9d9d9d;
}
.dropdown.login .on{
    color:#449d44;
}
.dropdown.login .off{
    color:#c9302c;
}
.dropdown.login .panel-heading.msj.warning{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


/** PORTALES ------------------------------------------------------------------------------------------------------ **/
.portales .form-horizontal .control-label{
    text-align: left;
}
.sector-wrap .hider{
    border: 1px solid #CCC;
    height: 160px;
    overflow:scroll;
    padding-left: 5px;
}
.sector-wrap.has-error .hider{
    border: 1px solid #a94442;
}
.sector-wrap .remove{
    cursor:pointer;
}
.sector-wrap.has-error label.no-validation{
    color: #333;
}
.icon-computrabajo{
    font-size: 9px;
}
/** FIELDS PRINCIPALES --------------------------------------------------------------------------------------------- **/

table.contained {
    width: 100% !important;
    table-layout: fixed;
    word-break: break-all;
}
table.contained.campos_principales .required{
    width: 8%;
}
table.contained.campos_principales .multiple{
    width: 7%;
}
table.contained.campos_principales .actions{
    width: 1%;
    padding:0px;
    border-color:white;
}
/** PUBLICAR TEST -------------------------------------------------------------------------------------------------- **/
.dth, .dtd{
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    padding: 4px;
}
.dtd{
    overflow: scroll;
}
.row.especial{
    margin: 0px;
}
.row.success{
    background-color: #bce8f1;
}
.row.danger{
    background-color: #e4b9c0;
}