.sidebar-gone .content-wrapper, .sidebar-gone .main-footer{
    margin-left: 0;
}
#loading{
    display: none;
}

/** DATOS **/
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

.header-buttons{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.header-buttons > li {
    float: left;
}

.header-buttons > li > a, .header-buttons > li > input, .header-buttons > li > button{
    margin-right: 1em;
}
.header-buttons > li:last-child > a, .header-buttons > li:last-child > input, .header-buttons > li:last-child > button {
    margin-right: 0;
}
/**
 * Loading help ------------------------------------------
 */
#loading, #sub-loading{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 2000;
}
#loading .cargando-text, #sub-loading .cargando-text{
    text-align: center;
    margin-top: 100px;
    color: #ffffff;
}

/**
 * Usuario peek
 */

.usuario-peek .main-header .logo{
    background-color: white !important;
}
.usuario-peek .main-header .logo-mini{
    color: #222d32;
}

.usuario-peek-volver {
    background: orangered;
}

/** CERTIFICADOS INGRESOS ------------------- */

#certificados-ingresos table .pdf{
    width:15%;
}
/** VACANTES --- */
.content-footer {
    position: relative;
    padding: 0 15px 15px 15px;
}

/** PORTALES LOGIN ---------------------- */
.login-portales-wrap{
    width: 310px;
    min-width: 0;
}

/** REGISTRO -------------------------- */
.register-box {
    width: 720px;
}

/** SCRAPPER ---------------- */
.log{
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
