/*Process v1
------------------------------------*/
.process-v1 .process-in {
    text-align: center;
}

.process-v1 .process-in > li i {
    z-index: 1;
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
    background: #e36159;
    margin-bottom: 15px;
    display: inline-block;
    border: solid 9px #fff;
}

.process-v1 .process-in > li i.completed {
    background: #72c02c;
}

.process-v1 .process-in > li i:after {
    top: -9px;
    left: -9px;
    right: -9px;
    bottom: -9px;
    content: " ";
    border-radius: 50%;
    position: absolute;
    border: 1px solid #bbb;
}

/*Process Description*/
.process-v1 .process-in .process-desc {
    padding: 0 20px;
}

.process-v1 .process-in > li h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    text-transform: uppercase;
}

/*Process Border*/
.process-v1 .process-border {
    position: relative;
}

.process-v1 .process-border:before {
    top: 15px;
    width: 75%;
    left: 12%;
    content: " ";
    display: block;
    position: absolute;
    border-top: solid 2px #ddd;
}

@media (max-width: 768px) {
    .process-v1 .process-border:before {
        border: none;
    }
}

.rounded-x {
    border-radius: 50%!important;
}