.messaging-newroom--realtime {
    min-height: 290px;
    height: auto !important;
}
.direct-chat-messages{
    /*height: 370px !important;*/
}

.messaging-newroom--realtime .messaging--messages-container {
    /*min-height: 370px;
    max-height: calc(100vh - 348px);*/
}
.messaging-newroom--realtime .messaging--messages-container{
    min-height: 300px !important;
}
.direct-chat-messages{
    height: 300px !important;
}