#editor{
    min-height: 260px;
    height: calc(100vh - 375px)
}
iframe.wysihtml5-sandbox{
    min-height: 260px;
    height: calc(100vh - 375px) !important;
}
iframe.wysihtml5-sandbox.has-error{
    border-color: #dd4b39 !important;
}
.messaging-newroom .message-controls__validation-msg{
    margin:0 0 5px !important;
}
.messaging-newroom--realtime{
    height: auto !important;
}
.has-error .chosen-container-multi .chosen-choices{
    border: 1px solid #dd4b39 !important;
}